{% extends 'layout/layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>HTML Front-End Boilerplate</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non suscipit metus, at vulputate orci. Proin blandit ut quam vitae lacinia. Integer tempor nec quam id elementum. Donec vulputate venenatis sem, nec maximus dolor porta nec. Quisque vestibulum et ante quis rhoncus. Nunc sagittis consequat mauris, sed tristique lacus interdum at. In sit amet lobortis massa. Etiam eget pellentesque tellus, ut dictum dui.</p>

<p>Morbi mollis elit ex, imperdiet consequat velit fermentum quis. Nulla egestas tellus leo, vitae sagittis dui tincidunt at. Suspendisse potenti. Suspendisse erat augue, pulvinar sit amet odio vel, mollis semper eros. Duis tincidunt neque id nibh fringilla, in tristique orci ultricies. Aenean aliquet mollis luctus. Integer egestas consequat metus eu dignissim. Nam lacinia feugiat lorem, quis vulputate arcu suscipit eu. Vestibulum rhoncus non purus vel porttitor. Donec porta at quam in eleifend.</p>

<div>Common Node.js web frameworks:</div>

<ul class="list-group" style="margin: 8pt 0pt;">
    {% for framework in data.frameworks %}
    <li class="list-group-item">{{ framework }}</li>
    {% endfor %}
</ul>

<div>Hello World in Java:</div>
<pre style="margin: 5pt 0pt;"><code>public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello! World!");
    }
}
</code></pre>

<div>Try <a href="/non-exist/" target="_self">Page Not Found</a>.</div>

{% endblock %}

{% block script %}
<script src="/js/app.js"></script>
{% endblock %}