<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
            integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="/css/app.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="app">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Polyfill of Bootstrap.Native -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.15/polyfill.min.js"
            integrity="sha512-uMUYI5ot8HCKfFJQjVPtWLd2IrCuszOclrZE5za5ahdytOogJIpZngMvACikkBoG5fmL9KZAjBVaR1VfbCo8rg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- Bootstrap.Native, V4 version -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.15/bootstrap-native-v4.min.js"
            integrity="sha512-1v7mrLG4DVYbJzcL7NVlHbFelY4j/4Jsrm+HvjVaiYU86m4ZRbVQYJRIp1F6/4JJHIWoCc4uLq8zhT8lfhq5+w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block script %}{% endblock %}
    </body>
</html>
